<div class="cardViewDiv dataViewHeight">

  <span class="fright">
    <mat-form-field>
      <input matInput [(ngModel)]="searchTerm" placeholder="Filter">
    </mat-form-field><br>
  </span><br>

  <!--Sub-Class Card -- For Individual Card Styling-->
  <div class="card" style="width: 100%">
    <div class="row">
      <div *ngFor="let item of employees | Empfilter : searchTerm  | paginate: {itemsPerPage:8, currentPage: p}"
        class="column">
        <div>
          <div class="card-header" id="cardHeader">
            {{item.firstName}} {{item.lastName}}
            <a routerLink="/edit-view" class="cardIcon" (click)="saveEmp(item.key, item)">
              <i class="fa fa-edit" aria-hidden="true" id="editCustomer" style="float: right"></i></a>
          </div>
          <div class="card-body bg-light ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <img [defaultImage]="defaultImage" [lazyLoad]='item.url' [useSrcset]="true" aria-hidden="true"
                    id="picture" />
                </div>
                <div class="col-sm-6 col-md-6">
                  {{item.address.city}} , {{item.address.state}}<br>
                  {{item.address.country}}<br>

                  <!--Item Button with parameter-->
                  <a routerLink="/map-view" (click)="saveEmp(item.key, item)"
                    style="color:skyblue; text-decoration: none">View Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Main Card Footer-->
    <div class="card-footer">
      <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  </div>
</div>