.view {
  float: right;
  text-decoration: none;
}

.view:active {
  text-decoration: none;
}

.view:hover {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.dataViewHeight {
  height: 600px !important;
}
