<header class="landing_header">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="header-left-box">
                <div class="logo">
                    <!-- <img src="../../assets/Images/logo.png" alt="Logo" /> -->
                </div>
            </div>
            <ul class="navbar-nav head_menu">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/login'>Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/subadmin-login'>Customer</a>
                </li>
            </ul>
        </div>
    </div>
</header>