<footer class="footer-section">
    <div class="custom-container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="footer-logo-block">
                        <div class="footer-logo">
                        </div>
                        <p></p>
                    </div>
                    <!-- <div class="copyright">Customer-kart © 2019 - All Rights Reserved.</div> -->
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="footer-link-col">
                        <div class="row">
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Company</h3>
                                    <ul class="ftr-links">
                                        <li><a routerLink="#">About Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Legal</h3>
                                    <ul class="ftr-links">
                                        <li><a routerLink="#">Terms & Conditions</a></li>
                                        <li><a routerLink="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 link-col">
                                <div class="footer-links-block">
                                    <h3 class="ftr-hdng">Contact Us</h3>
                                    <ul class="social-links">
                                        <li class="facebook">
                                            <a href="https://www.facebook.com" target="_blank">
                                                <span class="social-icn">
                                                    <i class="fa fa-facebook-square "></i>
                                                </span> Facebook
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com" target="_blank">
                                                <span class="social-icn">
                                                    <i class="fa fa-twitter"></i>
                                                </span> Twitter
                                            </a>
                                        </li>
                                        <!-- <li class="google-plus">
                                            <a href="https://www.youtube.com" target="_blank">
                                                <span class="social-icn">
                                                    <i class="fa fa-youtube"></i>
                                                </span> Youtube
                                            </a>
                                        </li> -->
                                        <!-- <li class="instagram">
                                            <a href="https://www.instagram.com" target="_blank">
                                                <span class="social-icn">
                                                    <i class="fa fa-instagram"></i>
                                                </span> Instagram
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>