.example-container {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  
//   mat-drawer-content {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
  a {
    text-decoration: none;
  }