<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
        <h5 class="sitename">Customer-Kart</h5>
        <a mat-list-item routerLink="/analytics"><i class="fa fa-bar-chart"></i> Analytics</a>
        <hr>
        <ng-material-multilevel-menu [configuration]='config' [items]='appitems'>
        </ng-material-multilevel-menu>
        <a mat-list-item routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        <hr>
        <a mat-list-item (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a>
        <hr>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar style="background-color: rgb(18, 134, 180); color:white">
            <mat-toolbar-row>
                <button mat-icon-button>
                    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                </button>
                <h1 style="padding-left: 35%">
                    Customer Management
                </h1>
            </mat-toolbar-row>
        </mat-toolbar>
        <app-contact style="width:100%"></app-contact>
    </mat-drawer-content>
</mat-drawer-container>