<div class="background">
    <div class="contact-form">
        <form [formGroup]="loginForm">
            <input type="radio" value="signin" id="signin" name="action" checked>
            <label for="signin">Sign in</label>

            <input id="signup" name="action" type="radio" value="signup">
            <label for="signup">Sign up</label>

            <div id="contain" class="form-group">
                <div id="arrow"></div>

                <input id="email" placeholder="Email" type="email" formControlName="email" class="form-control"
                    [ngClass]="displayCssFor('email')">

                <input id="password" placeholder="Password" type="password" formControlName="pass" class="form-control"
                    [ngClass]="displayCssFor('pass')">
                <input id="repassword" placeholder="Confirm password" type="password" formControlName="confirmPass"
                    class="form-control" [ngClass]="confirmPass('confirmPass')">
            </div>
            <button type="submit">
                <span (click)="signIn()"> <br> Sign in </span>
                <span (click)="signUp() "> Sign up </span>
            </button>
        </form>
    </div>
</div>