<div class="cardViewDiv dataViewHeight">

    <div>
        <form class="contain" [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="category">Product Category</label>
                <input formControlName="category" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="product">Product Name</label>
                <input formControlName="product" class="form-control">
            </div>

            <div class="form-group">
                <label for="price">Product Price</label>
                <input formControlName="price" id="price" type="number" class="form-control">
            </div>

            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea rows="3" cols="3" formControlName="description" id="description"
                    class="form-control"></textarea>
            </div>
            <button class="btn btn-danger"><a routerLink="/cardView" style="color: white"> Cancel </a></button>
            <button class="btn btn-primary view" type="submit" (click)="upload()">Add Product</button>
        </form>

        <div class="cont">
            <input #file type="file" accept='image/*' (change)="detectFile($event, file.files)" /><br><br><br>
            <div *ngIf="product">
                <div class="progress">
                    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': product?.progress + '%' }">
                    </div>
                </div>
                Progress: {{product?.description}} {{product?.progress}}% Complete
            </div>
        </div>

        <div class="imagePos">
            <img [src]="imgUrl" *ngIf="imgUrl" width="350px" height="200px">
        </div>
    </div>
</div>