<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <h5 class="sitename">Customer-Kart</h5>
    <a mat-list-item routerLink="/analytics"><i class="fa fa-bar-chart"></i> Analytics</a>
    <hr>

    <ng-material-multilevel-menu [configuration]='config' [items]='appitems'>
    </ng-material-multilevel-menu>
    <a mat-list-item routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    <hr>
    <a mat-list-item (click)="empService.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    <hr>

  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="background-color: rgb(18, 134, 180); color:white">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <h1 style="padding: 0% 35%">
          Customer Management
        </h1>
        <!-- <span class="menu-spacer"></span> -->
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="cardViewDiv dataViewHeight">

      <!-- For Spinner -->
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

      <!--Sub-Class Card -- For Individual Card Styling-->
      <div class="card">
        <div class="row">
          <div *ngFor="let item of products | Productfilter : searchTerm | paginate: {itemsPerPage:8, currentPage: p}"
            class="column">
            <div class="card">
              <img src="{{item.url}}" width="100%" height="350px" />
              <div class="background">
                {{item.description}}<br>
                {{item.price | currency}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Main Card Footer-->
      <div *ngIf="!showSpinner" class="card-footer">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>