
table {
  width: 100%;
}
.view {
  float: left;
  cursor: pointer;
  padding-left: 10%;
  color: black;
}
.views:hover {
  color: black;
}

.menuBar {
  width: 230px;
}

.dataViewHeight {
  height: 600px !important;
}
