.dataViewHeight {
  height: 600px !important;
}
.visitor {
  background-color: #1fae66;
  width: 80%;
  height: 80px;
  margin: 0px 50px;
  zoom: 1.5;
}

.orders {
  background-color: #f85d2c;
  width: 80%;
  height: 80px;
  margin: 0px 50px;
  zoom: 1.5;
}
// .sitename {
//   background-color: rgba(0, 0, 0, 0.788);
// }
