<div class="cardViewDiv dataViewHeight">
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="row visitor">

                <div class="col-md-6">
                    <i class="fa fa-life-ring fa-3x" style="color:white; width: 80%; height: 80%;padding-top:10px;"></i>
                </div>
                <div class="col-md-6" style="color:white; text-align: center">
                    10,234<br>
                    Total Visitors
                </div>
            </div>
            <br>
            <div id="pieChartContainer" style="height: 400px; width: 100%; margin: 0px 15px"></div>
        </div>

        <div class="col-md-6">
            <div class="row orders">

                <div class="col-md-6">
                    <i class="fa fa-bar-chart fa-3x" style="color:white; width: 80%; height: 80%;padding-top:10px;"></i>
                </div>
                <div class="col-md-6" style="color:white; text-align: center">
                    1,250<br>
                    New orders
                </div>
            </div>
            <br>
            <div id="chartContainer" style="height: 400px; width: 100%;margin: 0px 15px;">
            </div>
        </div>
    </div>
</div>