<div class="header">
    <div class="sub-header">
        <nav class="nav-style">
            <span (click)="warning()"> <i class="fa fa-arrow-left fa-1x" style="color: white"></i></span>
            <span class="heading"><strong>Customer-Kart</strong></span>
            <!-- <h4 class="heading fright"></h4> -->
            <span class="two fright">
                <span id="button"><a routerLink="/post">
                        Post your Ad
                    </a> </span>
            </span>
        </nav>
    </div>
</div>