.filter {
  color: rgba(0, 0, 0, 0.575);
}
.card {
  border: none;
}
.cardIcon {
  text-decoration: none;
  color: white;
}

#edit {
  float: right;
}
#editCustomer {
  float: right;
  font-size: 25px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

#picture {
  width: 95px;
  height: 100px;
  border-radius: 15%;
}

//New Css
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 10px -5px;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .column {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .column {
    width: 33.3%;
    display: inline-block;
  }
}

 .dropbtn {
 background-color:white;
   border: none;
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 228px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 28px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

//.dropdown:hover .dropbtn {background-color: #3e8e41;}

//NEW CSS

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  background: black;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: #ddd;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1 px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toogle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toogle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #727e87;
  margin: 5px 0px;
}

.mat-drawer-container{
height:0!important;
position: initial!important;
}

.mat{
  width: 250px;
}

.menuBar{
  width: 230px;
}

.dataViewHeight{
  height: 600px!important;
}

//New one
.example-container {
  width: 100%;
  height: 100%;
  margin: 0px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
a{
  text-decoration: none;
}